.header
  .service
    =link_to "Skimaty", '/', class: "service-name"
  .description スキマ時間にスマホひとつで学習開始！！
  %dl.searchbox
    = search_form_for @search do |f|
      %dt= f.text_field :title_cont ,placeholder: '検索するテキストを入力...'
      %dd= f.submit ("検索") , class: 'search-btn'
  - if user_signed_in?
    .account
      .post
        = link_to "スキルを投稿する", new_lecture_path, method: :get
      .page
        = link_to "マイページ", user_path(current_user[:id]), method: :get
      .logOut
        = link_to "ログアウト", destroy_user_session_path, method: :delete
  - else
    .account
      .signIn
        = link_to "ログイン", new_user_session_path
        %i.fas.fa-lock-open
      .signUp
        = link_to "新規会員登録", new_user_registration_path
        %i.fas.fa-pencil-alt
